*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    margin-top: 70px;
    margin-inline: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.simple-form {
    padding: 20px;
    border: 1px solid #333453;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 7px;
    column-gap: 7px;
}

.form-group {
    width: 650px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-group > input {
    padding: 4px;
    border-radius: 8px;
    border: 1px solid #333453;
}